<aside>
    <ul>
        <li>
            <!-- {{request}} -->
            <a href="#" class="logo">
                <span class="nav-item">TPC PANEL</span>
            </a>
        </li>
        <li><a href="{% url 'company' %}"><i class="fas fa-poll"></i><span class="nav-item">Add Company</span></a></li>
        <li><a href="{% url 'jobof' %}"><i class="fas fa-handshake"></i><span class="nav-item">Add Jobs</span></a></li>
        <li><a href="{% url 'testyourself' %}"><i class="fas fa-handshake"></i><span class="nav-item">Study Materials</span></a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span class="nav-item">Logout</span></a></li>
    </ul>
</aside>
