

{% extends 'base.html' %}
{% block content %} 
<div class="site-heading text-center">
    <h3 class="font-weight-bold">Matching Skills</h3>
</div>

    
    <!-- <button id="showStudentsBtn">Show Student IDs</button>  -->
    <div id="studentList" style="display: none;"> <!-- Placeholder for displaying student IDs -->
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% else %}
            <ul id="studentIdsList">
                 {% for student_id in student %}
                    <!-- {% if student_id.name == 'hjj'  %}
                        <p>hi</p>
                    {% else %} --> 
                        <li>{{ student_id.name }} {{ student_id.email }} </li>
                    <!-- {% endif %} -->
           
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    {% endblock %}
    
    


