{% extends 'base.html' %}
{% block content %} 
<div class="site-heading text-center">
    <h3 class="font-weight-bold">STUDY MATERIALS</h3>
</div>
<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="w-full">
        <div class="formbold-form-wrapper" id="formWrapper">
            <div class="formbold-form-header">
                <h3>ADD MATERIALS</h3>
                <button>
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="white">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.474874 0.474874C1.10804 -0.158291 2.1346 -0.158291 2.76777 0.474874L16.5251 14.2322C17.1583 14.8654 17.1583 15.892 16.5251 16.5251C15.892 17.1583 14.8654 17.1583 14.2322 16.5251L0.474874 2.76777C-0.158291 2.1346 -0.158291 1.10804 0.474874 0.474874Z"
                        />
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.474874 16.5251C-0.158291 15.892 -0.158291 14.8654 0.474874 14.2322L14.2322 0.474874C14.8654 -0.158292 15.892 -0.158291 16.5251 0.474874C17.1583 1.10804 17.1583 2.1346 16.5251 2.76777L2.76777 16.5251C2.1346 17.1583 1.10804 17.1583 0.474874 16.5251Z"
                        />
                    </svg>
                </button>
            </div>
            <form method="POST" class="formbold-chatbox-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="title" class="formbold-form-label"> Title </label>
                    <input type="text" name="title" id="title" placeholder=" title"
                        class="formbold-form-input" />
                </div>

                <div class="formbold-mb-5">
                    <label for="material" class="formbold-form-label"> Material </label>
                    <input type="file" name="material" id="material" class="formbold-form-input" />
                </div>
                <div class="formbold-mb-5">
                    <label for="links" class="formbold-form-label"> Links </label>
                    <input type="url" name="links" id="links" placeholder="https://example.com"
                        class="formbold-form-input" />
                </div>
                <div class="formbold-mb-5">
                    <label for="date" class="formbold-form-label"> Date </label>
                    <input type="date" name="date" id="date" placeholder="date"
                        class="formbold-form-input" />
                </div>
                <div class="formbold-mb-5">
                    <label for="description" class="formbold-form-label"> Description </label>
                    <input type="text" name="description" id="description" placeholder="material description"
                        class="formbold-form-input" />
                </div>

                <div>
                    <button class="formbold-btn w-full">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Inter", sans-serif;
    }

    .formbold-mb-5 {
        margin-bottom: 20px;
    }

    .formbold-pt-3 {
        padding-top: 12px;
    }

    .formbold-main-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 48px;
    }

    .formbold-form-wrapper {
        margin: 0 auto;
        max-width: 550px;
        width: 100%;
        background: white;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        display: none;
    }

    .formbold-form-wrapper.active {
        display: block;
    }

    .formbold-form-label {
        display: block;
        font-weight: 500;
        font-size: 16px;
        color: #07074d;
        margin-bottom: 12px;
    }

    .formbold-form-label-2 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .formbold-form-input {
        width: 100%;
        padding: 12px 24px;
        border-radius: 6px;
        border: 1px solid #e0e0e0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        color: #6b7280;
        outline: none;
        resize: none;
    }

    .formbold-form-input:focus {
        border-color: #6a64f1;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .formbold-btn {
        text-align: center;
        font-size: 16px;
        border-radius: 6px;
        padding: 14px 32px;
        border: none;
        font-weight: 600;
        background-color: #6a64f1;
        color: white;
        cursor: pointer;
    }

    .formbold-btn:hover {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

    .formbold--mx-3 {
        margin-left: -12px;
        margin-right: -12px;
    }

    .formbold-px-3 {
        padding-left: 12px;
        padding-right: 12px;
    }

    .flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .w-full {
        width: 100%;
    }

    .formbold-form-header {
        background: #6a64f1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 36px;
        border-radius: 8px 8px 0px 0px;
    }

    .formbold-form-header h3 {
        font-weight: 700;
        font-size: 20px;
        color: white;
    }

    .formbold-form-header button {
        color: white;
        background: transparent;
        border: none;
    }

    .formbold-chatbox-form {
        padding: 32px 36px;
    }

    @media (min-width: 540px) {
        .sm\:w-half {
            width: 50%;
        }
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("formWrapper").style.display = "block";
    });
</script>
{% endblock %}

